@import url('https://fonts.googleapis.com/css?family=Cutive+Mono|Poppins|Raleway&display=swap');

.op-header {
  width: 100vw;
  height: 100px;
  background-color: #21294c;
}

.op-logo {
  height: 35px;
  margin-top: 10px;
  margin-left: 10px;
}

.body {
  background-color: rgba(249, 242, 215, 0.56);
  font-family: Raleway, sans-serif;
  color: #21294c;
  font-size: 16px;
  line-height: 23px;
  min-height:100vh;
  padding-bottom:200px;
}

.op-logo-arrow {
  display: inline-block;
  height: 35px;
  margin-top: 5px;
  margin-left: 10px;
  vertical-align: top;
}

.op-project-title {
  margin-bottom: 40px;
  font-family: Poppins, sans-serif;
  color: #21294c;
  font-weight: 500;
  text-align: center;
  text-decoration: underline;
}
.op-prompt-card {
  display: inline-block;
  vertical-align: top;
  position:relative;
  margin: 10px;
  width:40%;
  padding: 20px 5%;
  border-radius: 12px;
  -webkit-transition: color 400ms ease, background-color 400ms ease;
  transition: color 400ms ease, background-color 400ms ease;
  color: #21294c;
  text-align: center;
}

.op-prompt-card.col1{
  width: 90%;
}
.op-prompt-card.col2{
  width: 40%;
}
.op-prompt-card.col3{
  width: 28%;
}
.op-prompt-card.col4{
  width: 22%;
}

.op-prompt-close-container{
  display:none;
  z-index:999;
}

.op-prompt-card-cancel{
  position:absolute;
  top:8px;
  right:8px;
  width:30px;
  height:30px;
}

.op-prompt-card:hover,
.op-prompt-card.selected {
  background-color: hsla(0, 0%, 100%, 0.4);
  color: #f9b248;
}

.op-prompt-card-icon {
  width: 30%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.op-prompt-card-title {
  margin-bottom: 20px;
  font-family: Poppins, sans-serif;
  font-size: 23px;
  line-height: 30px;
  font-weight: 500;
}

.text-block {
  margin-top: 20px;
}

.op-center-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  padding-right: 10%;
  padding-left: 10%;
  padding-bottom:30px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  text-align: center;
}

.op-section-heading {
  margin-top: 10px;
  padding-left: 5%;
  font-weight: 400;
}

.op-section-tab {
  width: 100%;
  border-top: 2px solid #21294c;
  background-color: #f9f2d7;
}

.op-dropdown-toggle{
  position:relative;
  width: 100%;
  padding-top:15px;
  padding-bottom: 15px;
}

.op-dropdown{
  display:none;
}

.op-dropdown.open{
  display:block;
}

.w-icon-dropdown-toggle{
  transform:rotate(90deg);
  transition:all 300ms ease;
}

.w-icon-dropdown-toggle.rotated{
  transform:rotate(0deg);
}

.op-dropdown-toggle > h2 {
  margin:0px;
}

.appearing-text {
  font-family:Cutive Mono;
  color:#f9f2d7;
  display:inline-block;
  margin-top:20px;
  margin-left:5px;
}

.appearing-text .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
}

.appearing-text .line {
  opacity: 0;
  position: absolute;
  left: 0;
  height: 100%;
  width: 1px;
  background-color: #f9f2d7;
  transform-origin: 0 50%;
}

.appearing-text .line1 {
  top: 0;
  left: 0;
}

.appearing-text .letter {
  display: inline-block;
  line-height: 1em;
}

.appearing-text .letters{
  opacity:0;
}

@media (max-width: 767px) {
  .op-project-title {
    font-size: 30px;
  }
  .op-prompt-card,
  .op-prompt-card.col1,
  .op-prompt-card.col2,
  .op-prompt-card.col3,
  .op-prompt-card.col4 {
    width: 44%;
  }
}

@media (max-width: 479px) {
  .op-prompt-card,
  .op-prompt-card.col1,
  .op-prompt-card.col2,
  .op-prompt-card.col3,
  .op-prompt-card.col4 {
    width: 90%;
  }
  .op-center-container {
    padding-right: 0%;
    padding-left: 0%;
  }
  .op-section-heading {
    font-size: 24px;
  }
}
